<div class="view-container">
    <h4 class="form_heading">Step 3 - Basic Qualifications</h4>
    <form ng-submit="gotoHigherInst()">
        <h4 class="form-sub-heading">O Level Details - Sitting 1</h4>
        <div class="form-part">
            <div class="control-group">
                <label class="control-label" for="selectExam">Exam Taken</label>
                <div class="controls">
                    <select required id="selectExam" ng-model="quali_details.s1_exam" ng-options="exam.name for exam in exams">
                        <option value=""> -- Select an Exam -- </option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCenterName">Center Name</label>
                <div class="controls">
                    <input required type="text" ng-model="quali_details.s1_center_name" id="inputCenterName" placeholder="Enter Center Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputYearAdmitted">Year Admitted</label>
                <div class="controls">
                    <input required type="date" ng-model="quali_details.s1_year_admitted" id="inputYearAdmitted" placeholder="Select Year Admitted">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNoCredits">Number of Credits</label>
                <div class="controls">
                    <input required ng-model="quali_details.s1_credits" type="text" id="inputNoCredits" placeholder="Number of Credits">
                </div>
            </div>

        </div>
        <div class="form-part">
            <div class="control-group">
                <label class="control-label" for="inputExamNumber">Exam Number</label>
                <div class="controls">
                    <input required ng-model="quali_details.s1_exam_number" type="text" id="inputExamNumber" placeholder="Exam Number">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExamYear">Exam Year</label>
                <div class="controls">
                    <div class="controls">
                        <input required type="date" ng-model="quali_details.s1_exam_year" id="inputExamYear" placeholder="Select Exam Year">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputYearGraduated">Year Graduated</label>
                <div class="controls">
                    <div class="controls">
                        <input required type="date" ng-model="quali_details.s1_year_graduated" id="inputYearGraduated">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSubGrades">Subjects and Grades</label>
                <div class="controls">
                    <textarea required id="inputSubGrades" ng-model="quali_details.s1_subAndGrades" placeholder="Example: Mathematics(A1), English(B2) etc."></textarea>
                </div>
            </div>
        </div>
        <div class="control-group" style="clear: both">
            <label class="controls">
                Upload Attained Certificate
                <input {{quali_details.s1_cert_url||required}} style="width: 90px;" type="file" ng-file-select="onFileSelect($files,'sitting1')" value="" title="Select a file to upload">
            </label>
        </div>
        <div class="progress progress-striped active" ng-show="uploadingSitting1">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <div ng-show="s1_filename" class="alert alert-info">
            Saved Olevel Result: <strong>{{s1_filename}}</strong></a>
        </div>
        <p style="display: block;border-bottom: 1px solid #000;clear: both;width: 70%;margin: 10px;margin: 40px 40px;margin-left: 0;">
        <h4 class="form-sub-heading">O Level Details - Sitting 2</h4>
        </p>
        <div class="form-part">

            <div class="control-group">
                <label class="control-label" for="inputFirstName">Exam Taken</label>
                <div class="controls">

                    <select id="selectExam" ng-model="quali_details.s2_exam" ng-options="exam.name for exam in exams">
                        <option value=""> -- Select an Exam -- </option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCenterName">Center Name</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.s2_center_name" id="inputCenterName" placeholder="Enter Center Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputYearAdmitted">Year Admitted</label>
                <div class="controls">
                    <input type="date" id="inputYearAdmitted" ng-model="quali_details.s2_year_admitted" placeholder="Select Year Admitted">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNoCredits">Number of Credits</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.s2_credits" id="inputNoCredits" placeholder="Number of Credits">
                </div>
            </div>

        </div>
        <div class="form-part">
            <div class="control-group">
                <label class="control-label" for="inputExamNumber">Exam Number</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.s2_exam_number" id="inputExamNumber" placeholder="Exam Number">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExamYear">Exam Year</label>
                <div class="controls">
                    <div class="controls">
                        <input type="date" id="inputExamYear" ng-model="quali_details.s2_exam_year" placeholder="Select Exam Year">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputYearGraduated">Year Graduated</label>
                <div class="controls">
                    <div class="controls">
                        <input type="date" ng-model="quali_details.s2_year_graduated" id="inputYearGraduated">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSubGrades">Subjects and Grades</label>
                <div class="controls">
                    <textarea id="inputSubGrades" ng-model="quali_details.s2_subAndGrades" placeholder="Example: Mathematics(A1), English(B2) etc."></textarea>
                </div>
            </div>

        </div>
        <div class="control-group" style="clear: both">
            <label class="controls">
                Upload Attained Certificate
                <input style="width: 90px;" type="file" ng-file-select="onFileSelect($files,'sitting2')" value="" title="Select a file to upload">
            </label>
        </div>
        <div class="progress progress-striped active" ng-show="uploadingSitting2">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <div ng-show="s2_filename" class="alert alert-info">Saved Sitting 2 Result: <strong>{{s2_filename}}</strong></div>
        <p style="display: block;border-bottom: 1px solid #000;clear: both;width: 70%;margin: 10px;margin: 40px 40px;margin-left: 0;"></p>
        <div class="form-part" style="clear: both">
            <h4 style="clear: both" class="form-sub-heading">A Level Certificates</h4>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">Exam Name</label>
                <div class="controls">

                    <input type="text" id="selectExam" ng-model="quali_details.a_exam"/>

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCenterName">Exam Center</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.a_center_name" id="inputCenterName" placeholder="Enter Center Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="credits">Number of credits</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.a_credits" id="credits" placeholder="Number of credits">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="examNumber">Exam Number</label>
                <div class="controls">
                    <input type="text" id="examNumber" ng-model="quali_details.a_exam_number" placeholder="Exam Number">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="examNumber">Subject and Grades</label>
                <div class="controls">
                    <textarea id="examNumber" ng-model="quali_details.a_subAndGrades" placeholder="Example: Mathematics(A1), English(B2) etc."></textarea>
                </div>
            </div>
            <div class="control-group" style="clear: both">
                <label class="controls">
                    Upload A Level Certificate
                    <input style="width: 90px;" type="file" ng-file-select="onFileSelect($files,'aLevels')" value="" title="Select a file to upload">
                </label>
            </div>
            <div class="progress progress-striped active" ng-show="uploadingALevels">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="form-part" style="margin-bottom: 20px;margin-left: 20px;">
            <h4 style="clear: both" class="form-sub-heading">Jamb Certificate</h4>
            <div class="control-group">
                <label class="control-label" for="centerName">Centre Name</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.jamb_center_name" id="centerName" placeholder="Centre Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="exmNumber">Exam Number</label>
                <div class="controls">
                    <input type="text" ng-model="quali_details.jamb_exam_number" id="exmNumber" placeholder="Exam Number">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="examYear">Exam year</label>
                <div class="controls">
                    <input type="date" ng-model="quali_details.jamb_exam_year" id="examYear" placeholder="Exam year">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="totalScore">Total Score</label>
                <div class="controls">
                    <input type="text" id="totalScore" ng-model="quali_details.jamb_total_score" placeholder="Total Score">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="subjectAndScores">Subject and Scores</label>
                <div class="controls">
                    <textarea id="subjectAndScores" ng-model="quali_details.jamb_subAndScore" placeholder="Example: Mathematics(120), English(112) etc."></textarea>
                </div>
            </div>
            <div class="control-group" style="clear: both">
                <label class="controls">
                    Upload Jamb Certificate
                    <input style="width: 90px;" type="file" value="" ng-file-select="onFileSelect($files,'jamb')" title="Select a file to upload">
                </label>
            </div>
            <div class="progress progress-striped active" ng-show="uploadingJamb">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div ng-show="aLevels_filename" style="clear: both" class="alert alert-info">Saved A Level Result: <strong>{{aLevels_filename}}</strong></div>
        <div ng-show="jamb_filename" style="clear: both" class="alert alert-info">Saved JAMB Result: <strong>{{jamb_filename}}</strong></div>
        <div style="clear: both" class="form-actions">
            <a  class="btn" ui-sref="main.biodata"><< Previous Step</a>
            <button class="btn" ng-click="save()">Save</button>
            <a id="basicQualiNext" class="btn btn-primary disabled">Next Step >></a>
            <span class="alert alert-info" ng-show="showSave">Saved!!</span>
            <span class="alert alert-error" ng-show="showSaveError">Save Error!!</span>
        </div>
    </form>
    <bssb-loader></bssb-loader>
</div>