<div class="left-content">
    <ul class="nav nav-list">
        <li class="nav-header">My Account</li>
        <li><a href="#changePasswordModal" data-toggle="modal">Change Password</a></li>
        <li class="nav-header">My Application</li>
        <li><a ui-sref="main.startapp">Scholarship Application</a></li>
        <li id="biodata_list_item"><a href="#">BIO Data</a></li>
        <li id="basic_quali_list_item"><a href="#">Basic Qualifications</a></li>
        <li id="higher_inst_list_item"><a href="#">Higher Institution</a></li>
        <li id="prof_quali_list_item"><a href="#">Professional Qualifications</a></li>
        <li class="nav-header">My Status</li>
        <li ><a ui-sref="main.preview">My Details</a></li>
        <li><a href="#">Check Status</a></li>
    </ul>
</div>