<div>
    <div class="main-nav">
        <div class="main-nav-content">
            <img src="../img/logo_small.png"/>
            <div id="main-nav-bar">
                <ul style="margin: 0" class="nav nav-pills">
                    <li><a ui-sref="main.dashboard">Dashboard</a></li>
                    <li><a ui-sref="main.preview">Preview</a></li>
                    <li><a href="#/main" ng-show="applicationComplete">Check Status</a></li>
                    <li class="dropdown">
                        <div class="btn-group">
                            <a class="btn" href="#/main"><i class="icon-user"></i> {{userData.firstname}} {{userData.lastname}}</a>
                            <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="logout()">Signout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-content">
        <div class="left-content">
            <ul class="nav nav-list">
                <li class="nav-header">My Account</li>
                <li><a href="#changePasswordModal" data-toggle="modal">Change Password</a></li>
                <li class="nav-header">My Application</li>
                <li><a ui-sref="main.startapp">Scholarship Application</a></li>
                <li><a ui-sref="main.biodata">BIO Data</a></li>
                <li><a ui-sref="main.qualifications">Basic Qualifications</a></li>
                <li><a ui-sref="main.higher-inst">Higher Institution</a></li>
                <li><a ui-sref="main.profQuali" href="#">Professional Qualifications</a></li>
                <li>My Status</li>
                <li><a ui-sref="main.preview">My Details</a></li>
                <li><a href="#">Check Status</a></li>
            </ul>
        </div>
        <div class="right-content">
            <div ui-view>

            </div>
        </div>
    </div>
    <!--Chnage Password Modal-->

    <div id="changePasswordModal" class="modal hide" tabindex="-1" data-role="modal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="">Change password</h4>

        </div>
        <div id="changepassword" class="modal-body" >
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputCurrentPassword">Current Passsword</label>
                    <div class="controls">
                        <input type="password" class="input-large" id="inputCurrentPassword" placeholder="Current Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="newPassword">New Password</label>
                    <div class="controls">
                        <input class="input-large" type="password" id="newPassword" placeholder="New Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="retypeNewPassword">Retype New Password</label>
                    <div class="controls">
                        <input class="input-large" type="password" id="retypeNewPassword" placeholder="Retype Password">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Change password</button>
            <button class="btn">Cancel</button>
        </div>
    </div>

    <alert name="larry" age="10"></alert>

</div>
