@font-face {
    font-family: segoeuisl;
    src: url('admin/fonts/segoeuisl.ttf');
}

@font-face {
    font-family: entypo;
    src: url('admin/fonts/entypo.eot');
    src: url('admin/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('admin/fonts/entypo.woff') format('woff'),
         url('admin/fonts/entypo.ttf') format('truetype'),
         url('admin/fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #000100;



}

#admin-main
{
    margin: auto;
    top:0;
    left:0;
    right: 0;
   bottom: 0;
}

#admin-login
{
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    padding: 60px;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px 1px #666666;
    box-shadow: 1px 1px 2px 1px #666666;
    border-radius: 5px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 1%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9f9f9), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 1%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 1%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 1%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Open Sans Condensed', sans-serif;
}

.header1
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-shadow: #333 0px 0px 1px;
}

#main-nav
{
    float: left;
    background-color: #4B4B4B;
    width: 250px;
    height: 100%;
    font-family: calibri;
    font-size: 11px;
    top: 0;
    bottom: 0;
    left: 0;
}

#main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 40;
    margin-top: 100px;
}

#main-nav ul li{
    padding: 7px;
    color: #BBBBBB;
}
#main-nav ul li a:hover{
    font-family: calibri;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 17px;
}

#main-nav ul li a{
    font-family: calibri;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
#content-area
{
    position: relative;
    margin-left: 250px;
    background-color: #fff;
    height: 100%;
    -webkit-box-shadow: 0px 0 30px 0 #000;
    box-shadow: 0px 0 30px 0 #000;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.view-control-bar{
    background-color: #ddd;
    padding: 15px;
    font-family: calibri;
    font-size: 25px;
    height: 60px;
    position: absolute;
    width: 100%;
    z-index: 3000;
}
.view
{
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    background-color: #f9f9f9;
}
::-webkit-scrollbar{
    width:10px;
    background-color:#cccccc;
}
::-webkit-scrollbar-thumb{
    background-color: #204C69;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #204C69;
}
::-webkit-scrollbar-thumb:active{
    background-color: #204C69;
}
::-webkit-scrollbar-track{
    border:1px gray solid;
    -webkit-box-shadow:0 0 6px gray inset;
}

.view-control{
    float: left;
    padding: 0;
    margin-right: 45px;

}

.view-control a{
    text-decoration: none;
    color: #1b1b1b;
}

.view-control a:disabled{
    text-decoration: none;
    color: #93a1a1;
}

.view-control a:hover{
    text-decoration: none;

}

#main-content
{
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.desc
{
    margin-left: 20px;
    margin-top: 70px;
}
.recent
{
    margin-left: 20px;
}
.desc ul
{
    list-style: none;
}

.desc ul li
{
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.desc ul li span:nth-child(3)
{
    font-size: 40;
    color:  rgb(175, 175, 175);
    clear: both;
}

.desc p{
    margin-left: 20px;
}

.hr-div{
    border-top: 1px solid rgb(213, 213, 213);
    padding-bottom: 10px;
}

.hr
{
    border-top: 1px solid #000;
    clear: both;
}

.rec_list_item
{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    float: left;
    padding: 7px;
}
.rec_list_item:hover
{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    float: left;
    background-color: #ffffff;
    padding: 7px;
}

.searchbox
{
    width: 90%;
    margin: 10px;
    padding: 8;
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item-header{
    font-size: 15px;
    font-weight: bold;
}
.list-item
{
    padding: 10px;
}

.list-item div div
{
    float: left;
}

.list-item img
{
    float: left;
}
.list-item-content
{

}
.clearfix
{
    clear: both;
}

.admin-h3
{
    font-family: 'Duru Sans', sans-serif;
}

.view-control-bar h2
{
    font-family: 'Source Sans Pro', sans-serif;
}

.user-grid-style
{
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.hide-element
{
    visibility: hidden;
}

.view-control-bar .disabled
{
    color: #93a1a1;
}

.more-search-controls
{
    width: 350px;
    margin-left: 47px;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#search-box-container
{
    margin: 0 auto;
    padding: 20px;
    height: 74px;
    transition: height 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: height 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #4B4B4B;
    position: absolute;
    width: 100%;
    top: 61px;
    -webkit-box-shadow: 1px 1px 2px 1px #666666;
    box-shadow: 1px 1px 2px 1px #666666;
    z-index: 2000;
}

#search-box{
    width: 800px;
    margin: auto;
}

#search-box a:hover{
    text-decoration: none;
    color: #adadad;
}

.error-text
{
    font-size: 10px;
    color: #F10000;
}
/* Styles go here */

.user-list
{
    font-size: 12px;
    margin-top: 113px;
    padding: 0px;
    height: inherit;
    position: absolute;
    width: 100%;
    margin-right: 100px;
    background-color: #F7F7F7;
}
.scroller{
    overflow-y: scroll;
    margin: 25px;
    height: 813px;
}
.scroller::-webkit-scrollbar{
    width:10px;
    background-color:#cccccc;
    margin-right: 20px;
}
.scroller::-webkit-scrollbar-thumb{
    background: #afafaf; /* Old browsers */
    background: -moz-linear-gradient(left,  #afafaf 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#afafaf), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #afafaf 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #afafaf 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #afafaf 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to right,  #afafaf 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#efefef',GradientType=1 ); /* IE6-9 */
    border: 1px solid #555555;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 20px;

}
.scroller::-webkit-scrollbar-thumb:hover{
    background-color: #204C69;
    margin-right: 20px;
    background: #687e99; /* Old browsers */
    background: -moz-linear-gradient(left, #687e99 0%, #83a2c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#687e99), color-stop(100%,#83a2c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #687e99 0%,#83a2c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #687e99 0%,#83a2c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #687e99 0%,#83a2c1 100%); /* IE10+ */
    background: linear-gradient(to right, #687e99 0%,#83a2c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687e99', endColorstr='#83a2c1',GradientType=1 ); /* IE6-9 */
}
.scroller::-webkit-scrollbar-thumb:active{
    background-color: #204C69;
    margin-right: 20px;
}
.scroller::-webkit-scrollbar-track{
    border:1px gray solid;
    -webkit-box-shadow:0 0 6px gray inset;
    padding-right: 20px;-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}


.user-list ul
{
    list-style-type: none;
    padding-right: 50px;
    padding-top: 30px;
}
.user-list ul li
{
    width: 100%;
    cursor: pointer;
}

.user-list ul li:hover .item-controls
{
    visibility:visible;
    float: right;
    margin-right: 20px;
}


.user-list ul h3
{
    margin:0px;
}

.user-list-item{
    border-bottom: 1px solid #DDD;
    height: 90px;
    border-top: 1px solid #F7F7F7;
    border-left: 1px solid #F7F7F7;
    border-right: 1px solid #F7F7F7;

}

.user-list-item:hover{
    background-color:#eee;
    border: 1px solid #ffffff;
}

.item-controls
{
    visibility: hidden;
    float: right;
    margin-top:10px;
}

.item-control
{
    margin-left:5px;
    display:inline-block;
    text-decoration:none;
    color:#000;
}

.item-content
{
    margin: 0px;
    height: 80px;
    padding-left: 20px;
    padding-top: 20px;
}

.clearfix
{
    clear:left;
}
.item-content div
{
    float: left;
}

.item-icon
 {
     font-size: 29px;
     margin-top: 10px;
     margin-left: 20px;
     margin-right: 10px;
 }
