<div class="users-content">
    <div class="view-control-bar">
        <h2 style="margin: 0;padding: 0;float: left;">Applicants</h2>
        <ul style="float:right;margin: 0;padding: 0;list-style-type: none">

        </ul>
    </div>

    <div class="user-list">
        <div class="scroller" style="margin-top: 50px">
            <ul>
                <li ng-repeat="applicant in applicants" ng-click="showApplicantDetails('{{applicant.user_id}}')">
                    <div class="user-list-item">
                        <div class="item-icon" style="float: left"><img width="64" height="64" src="{{applicant.passportPhoto}}"/></div>
                        <div class="item-content">
                            <div >
                                <h3>{{applicant.surname}} {{applicant.middleName}} {{applicant.firstName}}</h3>
                                <span>{{applicant.reg_num}}</span>
                            </div>
                            <div class="item-controls">
                                <a class="icon-eye item-control btn btn-primary" data-placement="left" data-toggle="tooltip" title="Start Review"></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <view-loader></view-loader>
    <script>
        $('.item-control').tooltip({
            placement:'bottom'
        });
    </script>
</div>
