<div class="dashboard-content">
 <div class="view-control-bar">
     <span>Admin Dashboard</span>
     <ul style="float:right;margin: 0;padding: 0;list-style-type: none">
         <li class="view-control"><a href="#" class="glyphicon glyphicon-th-large"></a></li>
         <li class="view-control"><a href="#" class="glyphicon glyphicon-info-sign"></a></li>
         <li class="view-control"><a href="#" class="glyphicon glyphicon-log-out"></a></li>
     </ul>
 </div>
    <div class="view">
        <div class="desc">
            View and Manage all Scholarship applications here
        </div>
    </div>
</div>