<div class="users-content">
    <div class="view-control-bar">
        <h2 style="margin: 0;padding: 0;float: left;">Applicants</h2>
        <ul style="float:right;margin: 0;padding: 0;list-style-type: none">
            <li class="view-control" data-toggle="tooltip" data-placement="left" title="Add New User"><a href="#" class="glyphicon glyphicon-plus-sign"></a></li>
            <li class="view-control" data-toggle="modal" data-target="#sendNotificationModal" data-toggle="tooltip" data-placement="left" title="Delete User"><a href="#" class="glyphicon glyphicon-trash"></a></li>
        </ul>
    </div>
    <div id="search-box">
        <div style="width: 70%;
margin-left: auto;
margin: auto;" class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search User</button>
            </span>
        </div>
    </div>
    <div id="user-list-container">
        <ul class="list">
            <li class="list-item">
                <div>
                    <img src="../img/nophoto.png" width="64" height="64"/>
                    <div>
                        <h4>Adewale Ayuba</h4>
                        <span>BSSB/2014/PGD006</span>
                    </div>
                    <span class="clearfix"></span>
                </div>
            </li>
            <li>
                <div>
                    <img/>
                    <span>Adewale Ayuba</span>
                    <span>BSSB/2014/PGD006</span>
                </div>
            </li>
        </ul>
    </div>
    <view-loader></view-loader>
    sddfsdfsf
    <script>
        $('.view-control').tooltip({
            placement:'bottom'
        });
        //$('#sendNotification').modal(options)
    </script>
</div>
