<div class="dashboard-content">
 <div class="view-control">
     <span>Admin Dashboard</span>
 </div>
    <div class="view">

        <div class="desc">
            View and Manage all Scholarship applications here
        </div>
        <div class="panel">
            <div class="panel-header">
                <p>Recently Submitted Applications</p>
            </div>
            <ul>
                <li>
                    <img src="/img/BG.png" width="32" height="32">
                    <div>
                        <span>A song of six pens<span>
                    </div>
                </li>
                <li>
                    <img src="/img/BG.png" width="32" height="32">
                    <span>A third generation<span>
                </li>
                <li>
                    <img src="/img/BG.png" width="32" height="32">
                    <span>HTML5 UIs are fun to make<span>
                </li>
                <li>
                    <img src="/img/BG.png" width="32" height="32">
                    <span>Alone in the madness<span>
                </li>
                <li>
                    <img src="/img/BG.png" width="32" height="32">
                    <span>Whats the fuck is you talking bout<span>
                </li>
            </ul>
        </div>
        <div class="panel">
            <div class="panel-header">
                <p>Recently Submitted Applications</p>
            </div>
        </div>
    </div>
</div>