<div class="users-content">
    <div class="view-control-bar">
        <h2 style="margin: 0;padding: 0;float: left;">Applicants</h2>
        <ul style="float:right;margin: 0;padding: 0;list-style-type: none">

        </ul>
    </div>
    <div id="search-box-container">
        <div  id="search-box">
            <div id="main-search" class="input-group">
                <span ng-class="hideElement" class="input-group-btn">
                    <!--<img style="margin-right: 15px" width="32" height="32" src="/img/loadinfo.net.gif"/>-->
                </span>
                <input type="text" placeholder="Search by registration number. e.g BSSB/PGD/2014" ng-model="userSearch.lastname" size="30" ng-keyup="filterUsers($event)" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="expandSearch()" type="button">Search User</button>
                </span>
                <a id="moreOptions" style="margin-left: 15px;cursor: pointer" ng-click="showMoreOptions()">More Options</a>
            </div>
            <div class="more-search-controls">
                <div style="margin-top: 10px;" class="form-group">
                    <input ng-model="userSearch.applicant_id" size="30" type="text" class="form-control" placeholder="Applicant ID">
                </div>
                <div class="form-group">
                    <select required="" class="form-control" ng-model="userSearch.user_type" ng-options="uType.value for uType in userTypeList">
                        <option value="">Select Admin type</option>
                    </select>
                </div>
                <div class="form-group">
                    <input size="30" type="text" ng-model="userSearch.firstname" class="form-control" placeholder="First name">
                </div>
                <div class="form-group">
                    <input size="30" type="text" ng-model="userSearch.email" class="form-control" placeholder="Email Address">
                </div>
            </div>
        </div>

    </div>
    <div class="user-list">
        <div class="scroller" style="margin-top: 50px">
            <ul>
                <li ng-repeat="applicant in applicants" ng-click="showApplicantDetails('{{applicant.user_id}}')">
                    <div class="user-list-item">
                        <div class="item-icon" style="float: left"><img width="64" height="64" src="{{applicant.passportPhoto}}"/></div>
                        <div class="item-content">
                            <div >
                                <h3>{{applicant.surname}} {{applicant.middleName}} {{applicant.firstName}}</h3>
                                <span>{{applicant.reg_num}}</span>
                            </div>
                            <div class="item-controls">
                                <a class="icon-eye item-control btn btn-primary" data-placement="left" data-toggle="tooltip" title="Start Review"></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <view-loader></view-loader>
    <script>
        $('.item-control').tooltip({
            placement:'bottom'
        });
        //$('#sendNotification').modal(options)
    </script>
</div>
