<div style="position: fixed;
    top: 60;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 100000;
    margin-left: 250px;"
    ng-show="showLoader">

    <div style="background-color: rgba(0,0,0,1);
padding: 11px;
margin-left: auto;
margin-right: auto;
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
width: 92px;
height: 92px;
border-radius: 5px;
color: #ffffff;
left: 50%;
top: 50%;
position: fixed;">
        <img style="padding: 10px;" src="/img/loadinfo.gif"/>
    </div>
</div>